<div class="container mx-auto p-20 bg-orange-200 min-h-screen">

<h2 class="text-3xl">This is organization: <span class="text-4xl font-bold"> {{this.model.name}} </span> </h2>

<div class="mt-2">
	<p>Here you will find its repositories, you can filter them by visibility and language.</p>
	<p>Good luck!</p>
</div>
</div>